include "envs.kdl"
include "monitors.kdl"
include "input.kdl"
include "looknfeel.kdl"
include "bindings.kdl"
include "autostart.kdl"
include "rules.kdl"
include "noctalia.kdl"

workspace "www"
workspace "term"
workspace "dev"
workspace "dev2"
workspace "media"
