prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

animations {
    workspace-switch {
        off
    }
}

layout {
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }
}
